.search{

    width: 7.5rem ;
    height: 2.5rem;
    border-radius: 15px;
    text-indent: 1rem;
    transition: .5s;

    &:hover{
        background-color: rgb(218, 216, 216);
        border: 2px solid red;
    }


    &:focus{
        width: 10rem;
        background-color: lightgreen;
        border: 2px solid rgb(220, 204, 21);
    }

}


