.upload__screen {
    text-align: -webkit-center;
}

.heading{
    text-align: center;
   
}


.upload__info{
    
}

.upload__label{

}

.upload__input{
    border-radius: 3px;
    border: solid 1px blue;
    margin-bottom: 1rem;
    width: 17rem;
    text-indent: 0.3rem;

    &::placeholder{
        font-style: italic;
    }

    &:focus{
        border: solid 2px;
        width: fit-content;
        height: 3rem;
    }

    &--digit{
    border-radius: 3px;
    border: solid 1px blue;
    margin-bottom: 1rem;
    width: 7rem;
    text-indent: 0.3rem;

    &::placeholder{
        font-style: italic;
    }

    &:focus{
        border: solid 2px;
        width: fit-content;
        height: 2rem;
    }
    
    }

    &--long{
    border-radius: 3px;
    border: solid 1px blue;
    margin-bottom: 1rem;
    width: 15rem;
    height: 5rem;
    text-indent: 0.3rem;

    &:focus{
        border: solid 2px;
        width: 20rem;
        height: 7rem;
    }

    }
}
     
.upload__button{
    cursor: pointer;
    margin-top: 0.3rem;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    
    background-color: lightgray;
    transition: 0.5s;

&:hover{
    background-color: aliceblue;
    border: 2px solid lightgreen;
    box-shadow: 3px 3px 10px;
}
    }