
.logo{
    display: block;
    margin: auto;
    width: 45rem;
    height: auto;
}


.title{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.form{
    text-align: center;
}